# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# MySQL credenciales
src/main/resources/application-prod.yml
src/main/resources/application-local.yml

# Sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# NetBeans
/nbproject/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache